/* Rotate chevrons in collapsed blocks if block uses angle-up icon */
[data-collapsed="true"] .k-block-type-fields-header:has([data-type="angle-up"]) .k-block-icon {
	transform: rotate(180deg);
}

.k-block-container {

	/*
		Remove borders of the last block in a row
	*/
	&:not(:last-of-type) {
		border-bottom: 0;
	}

	/*
	Reduce the outline of the selected block
	*/
	&[data-selected=true] {
		outline: 1px solid var(--color-gray-400);

		/*
			Remove the outline of the parent if child blocks are selected
		*/
		&:has(.k-block-container[data-selected=true]) {
			outline: none;

			/*
				Hide options toolbar of the parent if child block is selected
			*/
			&>.k-block-options {
				display: none;
			}
		}
	}
}

.k-blocks:not([data-empty="true"], [data-disabled="true"], .k-blocks .k-blocks) {
	background-color: transparent;
	box-shadow: none;

	&>.k-blocks-list>.k-block-container {
		&:not(:last-of-type) {
			border-bottom: none;
			margin-bottom: 1rem;
		}
	}
}

/*--------------------------------------------------------------
# Individual Blocks
--------------------------------------------------------------*/

.k-block-type-text,
.k-block-type-list,
.k-block-type-heading {
	font-family: var(--font-family);
	font-weight: var(--font-weight-normal);
	--text-line-height: var(--line-height);
	--text-font-size: var(--font-size-6);
	--text-size: var(--font-size-6);

	[data-style="small"] {
		--text-font-size: var(--font-size-7);
		--text-size: var(--font-size-7);
	}

	[data-style="default"] {
		--text-font-size: var(--font-size-6);
		--text-size: var(--font-size-6);
	}

	[data-style="large"] {
		--text-font-size: var(--font-size-5);
		--text-size: var(--font-size-5);
	}

	[data-style="h1"] {
		--text-font-size: var(--font-size-1);
		--text-size: var(--font-size-1);
	}

	[data-style="h2"] {
		--text-font-size: var(--font-size-2);
		--text-size: var(--font-size-2);
	}

	[data-style="h3"] {
		--text-font-size: var(--font-size-3);
		--text-size: var(--font-size-3);
	}

	[data-style="h4"] {
		--text-font-size: var(--font-size-4);
		--text-size: var(--font-size-4);
	}

	[data-style="h5"] {
		--text-font-size: var(--font-size-5);
		--text-size: var(--font-size-5);
	}

	[data-style="h6"] {
		--text-font-size: var(--font-size-6);
		--text-size: var(--font-size-6);
	}

	[data-alignment="left"] {
		text-align: left;
	}

	[data-alignment="center"] {
		text-align: center;
	}

	[data-alignment="right"] {
		text-align: right;
	}
}

.k-block-type-heading {
	--font-bold: var(--font-weight-title);
	--font-sans: var(--font-family-title);
	--text-line-height: var(--line-height-title);
}

.k-block-type-image .k-block-figure-container> :is(img, .k-image-frame) {
	display: block;
	max-width: min(100%, var(--block-maxwidth, 100%));
	margin-inline: auto;
}

.k-block-type-image .k-block-figure[data-alignment="left"] .k-block-figure-container> :is(img, .k-image-frame) {
	margin-inline: 0 auto;
}

.k-block-type-image .k-block-figure[data-alignment="right"] .k-block-figure-container> :is(img, .k-image-frame) {
	margin-inline: auto 0;
}
