#page-header {
	--_background: transparent;
	--_color: var(--color-base);
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--_background);
	transition: background 0.15s var(--ease-out);
	color: var(--_color);
	padding-block: var(--space-s);

	a {
		color: var(--_color);
	}

	&.scrolled {
		transition: transform 0.15s var(--ease-out);

		&.scrolled-beyond-header {
			@media (--m) {
				--_background: var(--color-base-background);
				position: fixed;
				transform: translateY(-100%);
				color: var(--color-base);

				a {
					color: var(--color-base);
				}
			}
		}

		&.scrolled-up {
			@media (--m) {
				transform: translateY(0);
			}
		}

		&.scrolled-down {
			@media (--m) {
				transform: translateY(-100%);
				opacity: 0;
			}
		}
	}

	& nav {
		.submenu a {
			color: var(--color-base);
		}

		li {
			border: 0;

			a {
				position: relative;
				font-weight: var(--font-weight-normal);
				padding-block: 0.75em;

				@media (--m) {
					padding-block: var(--space-s);
				}

				&::after {
					content: attr(data-text);
					font-weight: var(--font-weight-bold);
					display: block;
					opacity: 0;
				}

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&:hover,
			&:focus-visible {
				> a > span {
					font-weight: var(--font-weight-bold);
				}
			}

			&.is-active > a > span {
				font-weight: var(--font-weight-bold);
			}
		}

		@media (--m-max) {
			z-index: 3;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			background-color: var(--color-base-background);
			color: var(--color-base);
			transform: translate(0, 120%);
			opacity: 0;
			visibility: hidden;
			padding: 2em;
			display: flex;

			/* Without JS the toggle cannot work, show the menu expanded instead */
			@media (scripting: none) {
				position: static;
				transform: none;
				opacity: 1;
				visibility: visible;
			}

			a {
				color: var(--color-base);
			}

			ul {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	button[aria-controls="mainnav"] {
		position: relative;
		z-index: 2;
		padding-right: var(--button-padding-inline);
		font-size: 1.2em;

		.i {
			display: none;
		}

		@media (scripting: none) {
			display: none;
		}

		&[aria-expanded="true"] {
			padding-right: 1em;

			.i {
				display: inline-flex;
			}

			& + nav {
				transition:
					transform 0.2s ease-in,
					opacity 0.2s 0.1s ease-in;
				transform: translateY(100%);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
