.ai-label {
	--ai-label-ink: var(--color-base-background);
	display: inline-block;
	height: var(--ai-label-size, 1.5em);
	color: var(--color-base);
	vertical-align: middle;

	& svg {
		display: block;
		width: auto;
		height: 100%;
	}
}


.ai-label__ink {
	fill: var(--ai-label-ink);
}
