ul.menu {
	display: flex;
	gap: 1em;

	& li {
		border-bottom: 2px solid transparent;

		& a {
			font-size: var(--font-size-6);
			font-weight: var(--font-weight-bold);
			line-height: 1;
		}

		&.is-active {
			border-color: var(--color-base);
		}
	}
}
